.splash {
    background-color: var(--base);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    .logo_circulo_splash {
        display: flex;
        width: 100px;
        height: 100px;
        border-radius: 100px;
        background-color: var(--amarillo-fondo);
        & img {
            display: flex;
            width: 75%;
            margin: 0 auto;
        }
    }
    .tipo_splash {
        display: flex;
        width: 100px;
        & img {
            display: flex;
            width: 100%;
            margin: 0 auto;
            margin-top: 10px;
        }
    }
}