<div class="row animated fadeIn fast" *ngIf="cargando">
    <app-loading ></app-loading>
</div>
<!-- <app-categorias></app-categorias> -->
<app-backButtn ></app-backButtn>
<div class="container animated fadeInUp" *ngIf="!cargando" style="padding-top: 20px;">
    
    <div class="row">
        <!-- paciente -->
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <form>
                        <!-- consulta -->
                        <div class="row align-items-center" >
                            <div class="col-12">
                                <div class="form-heading">
                                    <h5>Agendar Cita para:</h5>
                                    <h4>{{speciality.name}}</h4>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-xl-3">  
                                <div class="form-group local-forms">
                                    <label >Fecha de la Cita  <span class="login-danger">*</span></label>
                                    <input  type="date" class="form-control datetimepicker" name="date_appointment" [(ngModel)]="date_appointment"   >
                                    <!-- <datepicker #picker></mat-datepicker>
                                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle> -->
                                    <!-- <input type="date" name="picker" id=""> -->
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-xl-3">
                                <div class="form-group local-forms">
                                    <label >Hora <span class="login-danger">*</span></label>
                                    <select [(ngModel)]="hour" [ngModelOptions]="{standalone: true}" class="form-control select"  placeholder="Select Hour">
                                        <option *ngFor="let data of hours" [value]="data.id">
                                        {{data.name}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div *ngIf="specilityie_id">
                                <div class="col-12 col-md-6 col-xl-3">
                                    <div class="form-group local-forms">
                                        <label >Especialidad <span class="login-danger">*</span></label>
                                        <p>{{speciality?.name}} | {{speciality?.price |currency}} </p>
                                    </div>
                                </div>
                            </div>
                            
                            <br>
                            <br>
                            <div class="col-12 col-md-6 col-xl-3">
                                <div class="form-group local-forms">
                                    <button type="button" class="btn btn-primary submit-form me-2" (click)="filtro()" >Filtro</button>
                                </div>
                            </div>
                        </div>
                        <!-- consulta -->
                        <!-- disponibilidad -->
                        <div class="row align-items-center mt-3" >
                            <div class="col-12 listadoctors">
                                <div class="table-responsive">
                                    <table class="table mb-0">
                                        <thead>
                                            <tr>
                                                <th>Nombre Doctor</th>
                                                <!-- <th>Detalle</th> -->
                                                <th>Disp.</th>
                                                <th>Ver</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <ng-container *ngFor="let DOCTOR of DOCTORS let i = index;">
                                                <tr>
                                                    <td>{{DOCTOR.doctor.full_name}}</td>
                                                    <!-- <td>
                                                        <button type="button" class="btn btn-primary btn-sm" (click)="showDetail(DOCTOR)"><i class="fa fa-eye"></i></button>
                                                    </td> -->
                                                    <td>{{countDisponibilidad(DOCTOR)}}</td>
                                                    <td>
                                                        <button type="button" class="btn btn-primary btn-sm" (click)="showSegment(DOCTOR,i)">+</button>
                                                        <!-- <button type="button" class="btn btn-primary btn-sm" [routerLink]="['/agendar-cita/form/', DOCTOR.doctor.id]" >+</button> -->
                                                        <!-- <a class="btn btn-primary btn-sm" [routerLink]="['/agendar-cita/form/', DOCTOR.doctor.id]"><i class="fa-solid fa-eye m-r-5"></i> View</a> -->
                                                    </td>
                                                </tr>
                                            </ng-container>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-12" *ngIf="DOCTOR_SELECTED">
                                <div class="table-responsive disponibilidaddoc" style="width: 100%;">
                                    <table class="table mb-0">
                                        <thead>
                                            <tr>
                                                <th>Hora</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    Dr. {{DOCTOR_SELECTED.doctor.full_name}}
                                                    <ng-container *ngFor="let SEGMENT of DOCTOR_SELECTED.segments">
                                                        <div class="radio">
                                                            <label>
                                                                <input type="radio" *ngIf="!SEGMENT.is_appointment" name="radio" (click)="selecSegment(SEGMENT)"> 
                                                                {{SEGMENT.format_segment.format_hour_start}} a {{SEGMENT.format_segment.format_hour_end}}
                                                            </label>
                                                        </div>
                                                        <br>
                                                    </ng-container>
                                                    
                                                </td>
                                            </tr>
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                           
                        </div>
                        <!-- disponibilidad -->
                        <!-- paciente -->
                        <div class="row align-items-center py-4" >
                            <div class="col-12 py-4">
                                <h4>Datos del Paciente</h4>
                                <!-- <button type="button" class="btn btn-light btn-sm" (click)="resetPatient()">Reset</button> -->
                            </div>
                            <div class="col-12 col-md-6 col-xl-4">
                                <div class="form-group local-forms">
                                    <label >N.Documento <span class="login-danger">*</span></label>
                                    <input class="form-control" name="n_doc"  [(ngModel)]="n_doc" type="text"  >
                                    <!-- <input class="form-control" (keyup)="filterPatient()" name="n_doc" [(ngModel)]="n_doc" type="text"  > -->
                                    <!-- <button type="button" class="btn btn-light btn-sm" (click)="filterPatientNew()">Filtrar</button> -->
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-xl-4">  
                                <div class="form-group local-forms">
                                    <label >Nombre <span class="login-danger">*</span></label>
                                    <input class="form-control" name="name"   [(ngModel)]="name" type="text"  >
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-xl-4">
                                <div class="form-group local-forms">
                                    <label >Apellido <span class="login-danger">*</span></label>
                                    <input class="form-control" name="surname"   [(ngModel)]="surname" type="text"  >
                                </div>
                            </div>
                           
                            <div class="col-12 col-md-6 col-xl-4">
                                <div class="form-group local-forms">
                                    <label >Correo <span class="login-danger">*</span></label>
                                    <input class="form-control" name="email" disabled  [(ngModel)]="user.email" type="text"  >
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-xl-4">
                                <div class="form-group local-forms">
                                    <label >Teléfono <span class="login-danger">*</span></label>
                                    <input class="form-control" name="phone"   [(ngModel)]="phone" type="text"  >
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-xl-3">  
                                <div class="form-group local-forms">
                                    <label >Nombre Acompañante (opcional)</label>
                                    <input class="form-control" name="name_companion" [(ngModel)]="name_companion" type="text"  >
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-xl-3">  
                                <div class="form-group local-forms">
                                    <label >Apellido Acompañante </label>
                                    <input class="form-control" name="surname_companion" [(ngModel)]="surname_companion" type="text"  >
                                </div>
                            </div>
                        </div>
                        <!-- paciente -->

                        
                        <div class="row align-items-center" >
                            <div class="col-12">
                                <div class="doctor-submit text-end">
                                    <button type="button" class="btn btn-primary submit-form me-2" (click)="resetPatient()">Cancelar</button>
                                    <button type="submit" class="btn btn-primary submit-form me-2" (click)="save()">Guardar</button>
                                    
                                </div>
                            </div>
                        </div>
                        
                    </form>
                    
                </div>
            </div>	
                
        </div>
        <!-- fin paciente -->	
         
        
    </div>
</div>
 