
<div *ngIf="obs$ | async as obs; else loading" >
    <div *ngIf="!patient">
        <h2 class="notiene">Usted no tiene registro medico con esta Clínica.</h2>
    </div>
    <ng-template #loading>Loading...</ng-template>
    <section class="container animated fadeInUp " style=" padding-top: 30px; padding-bottom: 50px;" *ngIf="patient">
        
        <div class="perfil" >
                    
            
            <div class="local_categoria_item" style="height: 220px;">
                <div class="logo_local">
                    <img [src]="patient.avatar" alt="">
                </div>
                <div class="contenido" style="height: 130px;">
                    <div class="info_local">
                        <h3>{{patient.full_name}}</h3>
                        <div class="infcita">
                            <p class="esp"><b>N.Doc</b><br>
                                {{patient.n_doc}}</p>
                            <p class="fech"><b>Teléfono</b><br>
                                {{patient.phone}}</p>
                            <p class="monto">
                                <b>Nacimiento:</b> <br>
                                {{patient.birth_date}}
                            </p>
                            <p class="pagado">
                                <b>Profesión:</b> <br>
                                {{patient.education}}
                                
                            </p>
                            
                        </div>
                    </div>
                    <div class="calificacion">
                        <span *ngIf="patient.gender === 1"> <i class="fa fa-user"></i>&nbsp;Masculino</span>
                                <span *ngIf="patient.gender === 2"> <i class="fa fa-user"></i>&nbsp;Femenino</span>
                    </div>
                </div>
                
            </div>

            <div class="card" style="margin-top: 15px;">
                <p class="monto">
                    <b>Motivo Registro:</b> <br>
                    {{patient.current_desease}}
                </p>
                <p class="monto">
                    <b>Atnt. Alergico:</b> <br>
                    {{patient.antecedent_alerg}}
                </p>
                <p class="pagado">
                    <b>Atnt. Personal:</b> <br>
                    {{patient.antecedent_personal}}
                </p>
                <p class="tiemp">
                    <b>Atnt. Familiar:</b> <br>
                    {{patient.antecedent_family}}
                </p>
                <p class="tiemp">
                    <b>Dirección:</b> <br>
                    {{patient.address}}
                </p>
            </div>
            
        </div>
    
    </section>

</div>