<div class="container legall" style=" padding-top: 30px; padding-bottom: 50px;">
    <app-backButtn></app-backButtn>
    <h4>Terminos y Condiciones</h4>
    <p>Los datos recogidos en este sitio serán almacenados en bases de datos solo para usos promocionales de esta App.
        Dicha información contará con medidas de seguridad y protección de datos personales para prevenir la divulgación
        no autorizada.
        Así como la vinculación de información medica del paciente y/o laboratorios serán estrictamente de uso del
        doctor y/o con las clínicas o consultorios que hayan adquirido las licencias de uso de Health Connect me.
        Health Connect me no se hace responsable por la divulgación de información personal de los usuarios que no
        cumplan con las medidas de seguridad y protección de datos personales.
        Health Connect me no es entidad financiera, los pagos realizadoas a travez de la aplicación son directamente con la 
        información de la entidad financiera del médico, consultorio o clínica.
        Health Connect me es una aplicacion de comunicación entre el paciente y el doctor, consultorio o clínica.