<div class="container legall" style=" padding-top: 30px; padding-bottom: 50px;">
    <h2>Legal</h2>
    <p>Los datos recogidos en este sitio (únicamente el email, el teléfono y correo electrónico y ) serán almacenados
          en bases de datos solo para usos promocionales de esta App.<br>
          El número de cédula, es requerido para poder vincular esta aplicación con la el registro medico en la Versión Consoultorio.<br>
          Dicha información contará con medidas de seguridad y protección de datos personales para prevenir la
          divulgación no autorizada.<br>
          Así como la vinculación de información medica del paciente y/o laboratorios serán estrictamente de uso del
          doctor y/o con las clínicas
          o consultorios que hayan adquirido las licencias de uso de Klyntic.
          </p>
</div>