<div class="row animated fadeIn fast" *ngIf="cargando">
    <app-loading ></app-loading>
</div>
<!-- <app-categorias></app-categorias> -->
<app-backButtn></app-backButtn>
<div class="container animated fadeInUp" *ngIf="!cargando" style="padding-top: 20px;">
    <div class="row">
        <!-- paciente -->
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <form>
                        <!-- consulta -->
                        <div class="row align-items-center" >
                            <div class="col-12">
                                <div class="form-heading">
                                    <h4>Solicitar Cita</h4>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-xl-3">  
                                <div class="form-group local-forms">
                                    <label >Fecha  <span class="login-danger">*</span></label>
                                    <input  type="date" class="form-control datetimepicker" name="date_appointment" [(ngModel)]="date_appointment"   >
                                    <!-- <datepicker #picker></datepicker>
                                    <datepicker-toggle matIconSuffix [for]="picker"></datepicker-toggle> -->
                                    <!-- <input type="date" name="picker" id=""> -->
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-xl-3">
                                <div class="form-group local-forms">
                                    <label >Hora <span class="login-danger">*</span></label>
                                    <select [(ngModel)]="hour" [ngModelOptions]="{standalone: true}" class="form-control select"  placeholder="Select Hour">
                                        <option *ngFor="let data of hours" [value]="data.id">
                                        {{data.name}} 
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-xl-3">
                                <div class="form-group local-forms">
                                    <label >Especialidad <span class="login-danger">*</span></label>
                                    <select class="form-control form-select-solid fw-bolder" name="categorie"
                                        placeholder="Selec. Categoria" [(ngModel)]="speciality_id" (change)="selectCategory($event)">
                                        <ng-container *ngFor="let data of specialities">
                                            <option [value]="data.id">{{data.name}} | {{data.price | currency}}</option>
                                        </ng-container>
                                    </select>
                                </div>
                            </div>
                            <br>
                            <div class="col-12 col-md-6 col-xl-3">
                                <div class="form-group local-forms">
                                    <button type="button" class="btn btn-primary submit-form me-2" (click)="filtro()" >Filtro</button>
                                </div>
                            </div>
                        </div>
                        <!-- consulta -->
                        <!-- disponibilidad -->
                        <div class="row align-items-center" >
                            <div class="col-12">
                                <div class="headtabla">
                                    <h4>Doctor</h4>
                                        <h4>Disponibilidad</h4>
                                        <h4>Ver</h4>
                                </div>
                                <div class="datosdoctor">
                                    <ng-container *ngFor="let DOCTOR of DOCTORS">
                                        <div class="col-xs-12 col-sm-6">
                                            {{DOCTOR.doctor.full_name}}
                                        </div>
                                        <div class="col-xs-12 col-sm-6">
                                            {{countDisponibilidad(DOCTOR)}}
                                        </div>
                                        <div class="col-xs-12 col-sm-6">
                                            <button type="button" class="btn btn-primary btn-sm" (click)="showSegment(DOCTOR)">+</button>
                                        </div>
                                        
                                    </ng-container>
                                </div>
                            </div>
                            <div class="col-12" *ngIf="DOCTOR_SELECTED">
                                <div class="table-responsive disponibilidaddoc">
                                    <table class="table mb-0">
                                        <thead>
                                            <tr>
                                                <th>Hora</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <ng-container *ngFor="let SEGMENT of DOCTOR_SELECTED.segments">
                                                        <div class="radio">
                                                            <label>
                                                                <input type="radio" *ngIf="!SEGMENT.is_appointment" name="radio" (click)="selecSegment(SEGMENT)"> 
                                                                {{SEGMENT.format_segment.format_hour_start}} a {{SEGMENT.format_segment.format_hour_end}}
                                                            </label>
                                                        </div>
                                                        <br>
                                                    </ng-container>
                                                    
                                                </td>
                                            </tr>
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- validaciones -->
                        <div class="form-group row" *ngIf="valid_form_success">
                            <div class="col-md-8">
                                <div class="alert alert-success alert-dismissible fade show" role="alert">
                                    <strong>Exito!</strong>SE CREO CORRECTAMENTE.
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true"> </span>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row" *ngIf="text_validation">
                            <div class="col-md-8">
                                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                    <strong>!</strong> {{ text_validation }}.
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true"> </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- validaciones -->
                        </div>
                        <!-- disponibilidad -->
                        <!-- paciente Nuevo -->
                        <div class="row align-items-center py-4" *ngIf="!patient_selected" >
                            <div class="col-12 py-4">
                                <h4>Datos del Paciente</h4>
                                <button type="button" class="btn btn-dark btn-sm" (click)="resetPatient()">Reset</button>
                            </div>
                            <div class="col-12 col-md-6 col-xl-4">
                                <div class="form-group local-forms">
                                    <label >N.Documento <span class="login-danger">*</span></label>
                                    <input class="form-control" name="n_doc"  [(ngModel)]="n_doc" type="text"  >
                                    <!-- <input class="form-control" (keyup)="filterPatient()" name="n_doc" [(ngModel)]="n_doc" type="text"  > -->
                                    <button type="button" class="btn btn-dark btn-sm" (click)="filterPatient()">Filtrar</button>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-xl-4">  
                                <div class="form-group local-forms">
                                    <label >Nombre <span class="login-danger">*</span></label>
                                    <input class="form-control" name="name"  [(ngModel)]="name" type="text"  >
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-xl-4">
                                <div class="form-group local-forms">
                                    <label >Apellido <span class="login-danger">*</span></label>
                                    <input class="form-control" name="surname"  [(ngModel)]="surname" type="text"  >
                                </div>
                            </div>
                           
                            <div class="col-12 col-md-6 col-xl-4">
                                <div class="form-group local-forms">
                                    <label >Teléfono <span class="login-danger">*</span></label>
                                    <input class="form-control" name="phone"  [(ngModel)]="phone" type="text"  >
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-xl-3">  
                                <div class="form-group local-forms">
                                    <label >Nombre Acompañante <span class="login-danger">*</span></label>
                                    <input class="form-control" name="name_companion" [(ngModel)]="name_companion" type="text"  >
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-xl-3">  
                                <div class="form-group local-forms">
                                    <label >Apellido Acompañante <span class="login-danger">*</span></label>
                                    <input class="form-control" name="surname_companion" [(ngModel)]="surname_companion" type="text"  >
                                </div>
                            </div>
                        </div>
                        <!-- paciente Nuevo -->



                        <!-- paciente -->
                        <div class="row align-items-center py-4" *ngIf="patient_selected" >
                            <div class="col-12 py-4">
                                <h4>Datos del Paciente</h4>
                                <!-- <button type="button" class="btn btn-dark btn-sm" (click)="resetPatient()">Reset</button> -->
                            </div>
                            <div class="col-12 col-md-6 col-xl-4">
                                <div class="form-group local-forms">
                                    <label >N.Documento <span class="login-danger">*</span></label>
                                    <input class="form-control" name="n_doc"  [(ngModel)]="n_doc" type="text"  >
                                    <!-- <input class="form-control" (keyup)="filterPatient()" name="n_doc" [(ngModel)]="n_doc" type="text"  > -->
                                    <!-- <button type="button" class="btn btn-dark btn-sm" (click)="filterPatient()">Filtrar</button> -->
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-xl-4">  
                                <div class="form-group local-forms">
                                    <label >Nombre <span class="login-danger">*</span></label>
                                    <input class="form-control" name="name" disabled [(ngModel)]="name" type="text"  >
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-xl-4">
                                <div class="form-group local-forms">
                                    <label >Apellido <span class="login-danger">*</span></label>
                                    <input class="form-control" name="surname" disabled [(ngModel)]="surname" type="text"  >
                                </div>
                            </div>
                           
                            <div class="col-12 col-md-6 col-xl-4">
                                <div class="form-group local-forms">
                                    <label >Teléfono <span class="login-danger">*</span></label>
                                    <input class="form-control" name="phone" disabled [(ngModel)]="phone" type="text"  >
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-xl-3">  
                                <div class="form-group local-forms">
                                    <label >Nombre Acompañante <span class="login-danger">*</span></label>
                                    <input class="form-control" name="name_companion" [(ngModel)]="name_companion" type="text"  >
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-xl-3">  
                                <div class="form-group local-forms">
                                    <label >Apellido Acompañante <span class="login-danger">*</span></label>
                                    <input class="form-control" name="surname_companion" [(ngModel)]="surname_companion" type="text"  >
                                </div>
                            </div>
                        </div>
                        <!-- paciente -->
                        <!-- pago -->
                        
                        <!-- <div class="row align-items-center py-4" >
                            <div class="col-12 py-4">
                                <h4>Datos de Pago</h4>
                                
                            </div>
                            <div class="row">
                                <div class="col-12 col-md-4">  
                                    <div class="form-group local-forms">
                                        <label >Costo de la cita <span class="login-danger">*</span></label>
                                        <input class="form-control" name="amount" [(ngModel)]="amount" type="number"  >
                                    </div>
                                </div>
                                <div class="col-12 col-md-4">
                                    <div class="form-group local-forms">
                                        <label >Metodo de Pago <span class="login-danger">*</span></label>
                                        <select [(ngModel)]="method_payment" [ngModelOptions]="{standalone: true}" class="form-control select"  placeholder="Select Payment Method">
                                            <option value="Efectivo">Efectivo</option>
                                            <option value="Transferencia">Transferencia</option>
                                            <option value="Zelle">Zelle</option>
                                            <option value="Square">Square</option>
                                            <option value="Pago Movil">Pago Movil</option>
                                            <option value="T.Debito">T.Debito</option>
                                            <option value="T.Credito">T.Credito</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4">  
                                    <div class="form-group local-forms">
                                        <label >Monto del Adelanto <span class="login-danger">*</span></label>
                                        <input class="form-control" name="amount_add" [(ngModel)]="amount_add" type="number"  >
                                    </div>
                                </div>
                            </div>
                            
                            
                        </div> -->
                        <!-- pago -->

                        
                        <div class="row align-items-center" >
                            <div class="col-12">
                                <div class="doctor-submit text-end">
                                    <button type="button" class="btn btn-primary submit-form me-2" (click)="save()">Guardar</button>
                                    
                                </div>
                            </div>
                        </div>
                        
                    </form>
                    
                </div>
            </div>	
                
        </div>
        <!-- fin paciente -->						
    </div>
</div>
 