<!-- <app-categorias></app-categorias> -->
<div class="container animated fadeInUp" style="padding-top: 20px;">
    
    <div class="row">
        <!-- paciente -->
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <form>
                        <!-- consulta -->
                        <div class="row align-items-center" >
                            <div class="col-12">
                                <div class="form-heading">
                                    <h5>Formulario Agendar Cita para:</h5>
                                    <h4>{{speciality.name}}</h4>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-xl-3">  
                                <div class="form-group local-forms">
                                    <label >Fecha de la Cita  <span class="login-danger">*</span></label>
                                    <input  type="date" class="form-control datetimepicker" name="date_appointment" [(ngModel)]="date_appointment"   >
                                    <!-- <datepicker #picker></mat-datepicker>
                                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle> -->
                                    <!-- <input type="date" name="picker" id=""> -->
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-xl-3">
                                <div class="form-group local-forms">
                                    <label >Hora <span class="login-danger">*</span></label>
                                    <select [(ngModel)]="hour" [ngModelOptions]="{standalone: true}" class="form-control select"  placeholder="Select Hour">
                                        <option *ngFor="let data of hours" [value]="data.id">
                                        {{data.name}}
                                        
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <!-- <div *ngIf="specilityie_id">
                                <div class="col-12 col-md-6 col-xl-3">
                                    <div class="form-group local-forms">
                                        <label >Especialidad <span class="login-danger">*</span></label>
                                        <p>{{speciality.name}} </p>
                                        <p>{{speciality.name}} | {{speciality.price|currency}}</p>
                                    </div>
                                </div>
                            </div> -->
                            
                            <br>
                            <br>
                            <div class="col-12 col-md-6 col-xl-3">
                                <div class="form-group local-forms">
                                    <button type="button" class="btn btn-primary submit-form me-2" (click)="filtro()" >Filtro</button>
                                </div>
                            </div>
                        </div>
                        <!-- consulta -->


                        <!-- disponibilidad -->
                        <div class="row align-items-center" >
                            <div class="col-12" *ngIf="!DOCTOR_Det_SELECTED ">
                                <div class="table-responsive">
                                    <table class="table mb-0">
                                        <thead>
                                            <tr>
                                                <th>Nombre Doctor</th>
                                                <!-- <th>Detalle</th> -->
                                                <th>Disp.</th>
                                                <th>Ver</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <ng-container *ngFor="let DOCTOR of DOCTORS let i = index;">
                                                <tr>
                                                    <td>{{DOCTOR.doctor.full_name}}</td>
                                                    <!-- <td>
                                                        <button type="button" class="btn btn-primary btn-sm" (click)="showDetail(DOCTOR)"><i class="fa fa-eye"></i></button>
                                                    </td> -->
                                                    <td>{{countDisponibilidad(DOCTOR)}}</td>
                                                    <td>
                                                        <button type="button" class="btn btn-primary btn-sm" (click)="showSegment(DOCTOR,i)">+</button>
                                                    </td>
                                                </tr>
                                                
                                                
                                            </ng-container>
                                            
                                            
                                            
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-12" *ngIf="DOCTOR_Det_SELECTED">
                                <div class="table-responsive">
                                    <table class="table mb-0">
                                        <thead>
                                            <tr>
                                                <th>Info</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>{{DOCTOR_Det_SELECTED.doctor.full_name}}<br>
                                                    Cita: {{DOCTOR_Det_SELECTED.doctor.precio_cita|currency}}<br>
                                                    tel: {{DOCTOR_Det_SELECTED.doctor.mobile}}<br>
                                                    Dir: {{DOCTOR_Det_SELECTED.doctor.address}}</td>
                                                <td>
                                            </tr>
                                            
                                        </tbody>
                                    </table>
                                    <button class="btn btn-outline-success btn-sm" (click)="back()">Cerrar</button>
                                </div>
                            </div>
                            <div class="col-12" *ngIf="DOCTOR_SELECTED">
                                <div class="row" >
                                    <div class="table-responsive" style="width: 100vw;">
                                        <table class="table mb-0">
                                            <thead>
                                                <tr>
                                                    <th>Hora</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <ng-container *ngFor="let SEGMENT of DOCTOR_SELECTED.segments">
                                                            <div class="radio">
                                                                <label>
                                                                    <input type="radio" *ngIf="!SEGMENT.is_appointment" name="radio" (click)="selecSegment(SEGMENT)"> 
                                                                    {{SEGMENT.format_segment.format_hour_start}} a {{SEGMENT.format_segment.format_hour_end}}
                                                                </label>
                                                            </div>
                                                            <br>
                                                        </ng-container>
                                                        
                                                    </td>
                                                </tr>
                                                
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            
                            <!-- validaciones -->
                        <div class="form-group row" *ngIf="valid_form_success">
                            <div class="col-md-8">
                                <div class="alert alert-success alert-dismissible fade show" role="alert">
                                    <strong>Exito!</strong>SE CREO CORRECTAMENTE.
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true"> </span>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row" *ngIf="text_validation">
                            <div class="col-md-8">
                                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                    <strong>!</strong> {{ text_validation }}.
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true"> </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- validaciones -->
                        </div>
                        <!-- disponibilidad -->
                        <!-- paciente -->
                        <div class="row align-items-center py-4" >
                            <div class="col-12 py-4">
                                <h4>Datos del Paciente</h4>
                                <button type="button" class="btn btn-primary btn-sm" (click)="resetPatient()">Reset</button>
                            </div>
                            <div class="alert alert-warning">
                                <strong>Nota:</strong> 
                                <p>
                                    Si al filtrar por su identificación no aparece, 
                                es debido a que se requiere un registro adicional en el consultorio.<br>
                                Puede solicitar para usted algún familiar o amigo que se registre en el consultorio.
                                </p>
                            </div>
                            <div class="col-12 col-md-6 col-xl-4">
                                <div class="form-group local-forms">
                                    <label >N.Documento <span class="login-danger">*</span></label>
                                    <input class="form-control" name="n_doc" [(ngModel)]="n_doc" type="text"  >
                                    <!-- <input class="form-control" (keyup)="filterPatient()" name="n_doc" [(ngModel)]="n_doc" type="text"  > -->
                                    <button type="button" class="btn btn-primary btn-sm" (click)="filterPatient()">Filtrar</button>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-xl-4">  
                                <div class="form-group local-forms">
                                    <label >First Name <span class="login-danger">*</span></label>
                                    <input class="form-control" name="name" [(ngModel)]="name" type="text"  >
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-xl-4">
                                <div class="form-group local-forms">
                                    <label >Last Name <span class="login-danger">*</span></label>
                                    <input class="form-control" name="surname" [(ngModel)]="surname" type="text"  >
                                </div>
                            </div>
                           
                            <div class="col-12 col-md-6 col-xl-4">
                                <div class="form-group local-forms">
                                    <label >Mobile <span class="login-danger">*</span></label>
                                    <input class="form-control" name="phone" [(ngModel)]="phone" type="text"  >
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-xl-3">  
                                <div class="form-group local-forms">
                                    <label >Nombre Acompañante</label>
                                    <input class="form-control" name="name_companion" [(ngModel)]="name_companion" type="text"  >
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-xl-3">  
                                <div class="form-group local-forms">
                                    <label >Apellido Acompañante </label>
                                    <input class="form-control" name="surname_companion" [(ngModel)]="surname_companion" type="text"  >
                                </div>
                            </div>
                        </div>
                        <!-- paciente -->

                        
                        <div class="row align-items-center" >
                            <div class="col-12">
                                <div class="doctor-submit text-end">
                                    <button type="button" class="btn btn-primary submit-form me-2" (click)="cancel()">Cancelar</button>
                                    <button type="button" class="btn btn-primary submit-form me-2" (click)="save()">Guardar</button>
                                    
                                </div>
                            </div>
                        </div>
                        
                    </form>
                    
                </div>
            </div>	
                
        </div>
        <!-- fin paciente -->						
    </div>
</div>
 