<div class="row animated fadeIn fast" *ngIf="cargando">
    <div class="col-12">
        <div class="alert alert-info text-center">
            <div class="alert-heading">Cargando</div>
            <i class="fa fa-spin fa-refresh fa-1x"></i>
            <p class="mb-0">Por favor espere</p>
        </div>
    </div>
</div>
<div class="container pt-3" *ngIf="!cargando">
    <h3 class="text-center">Mis Pagos</h3>
    <div *ngIf="paymentSelected">
        <div class="card">

           
                <p><b>Monto:</b> {{paymentSelected.monto|currency}}</p>
                <p><b>Status:</b> 
                    &nbsp;<span class="badge bg-success"
                    *ngIf="paymentSelected.status === 'APPROVED'">Aprobado</span>
                &nbsp;<span class="badge bg-primary"
                    *ngIf="paymentSelected.status === 'PENDING'">Pendiente</span>
                &nbsp;<span class="badge bg-danger"
                    *ngIf="paymentSelected.status === 'REJECTED'">Rechazado</span>
                </p>
                <p><b>Fecha del pago:</b> <br>
                    {{paymentSelected.fecha |date:'MMM d, y'}}
                </p>
    
                <p><b>Referencia:</b> {{paymentSelected.referencia}}</p>
                    <p><b>Email:</b> {{paymentSelected.email}}</p>
                    <p><b>Bank_name:</b> {{paymentSelected.bank_name}}</p>
                    <p><b>Metodo:</b> {{paymentSelected.metodo}}</p>
                    
                    <p><b>Pagado:</b> {{paymentSelected.created_at|date:'MMM d, y'}}</p>
                    <button class="btn btn-outline-success btn-sm" (click)="back()">Cerrar</button>
        </div>
        </div>
        <div *ngIf="!paymentSelected">
    <ng-container *ngFor="let payment of payments">
        <div class="pago">
                <p><b>Monto:</b> {{payment.monto|currency}}</p>
                <p><b>Status:</b> 
                    &nbsp;<span class="badge bg-success"
                    *ngIf="payment.status === 'APPROVED'">Aprobado</span>
                &nbsp;<span class="badge bg-primary"
                    *ngIf="payment.status === 'PENDING'">Pendiente</span>
                &nbsp;<span class="badge bg-danger"
                    *ngIf="payment.status === 'REJECTED'">Rechazado</span>
                </p>
                <!-- <p><b>Fecha del pago:</b><br> {{payment.fecha |date:'MMM d, y'}}</p> -->

                
                <button class="btn btn-outline-success btn-sm" (click)="selectedPayment(payment)"><i class="fa fa-eye"></i></button>
            </div>
            
            
        </ng-container>
    </div>
    
    
</div>

