<div class="row animated fadeIn fast" *ngIf="cargando">
    <app-loading></app-loading>
</div>

<div class="container pt-3" *ngIf="!cargando ">
    <div *ngIf="!payments ">
        <h2 class="notiene">Usted no tiene pagos por procesar.</h2>
    </div>
    <app-backButtn></app-backButtn>
    <div class="row pago" *ngIf="payments">
        <div class="card">
            <h3 class="text-center">Mis Pagos</h3>
            <div class="card-body"  *ngIf=" payments && !paymentSelected">

                <ul *ngFor="let payment of payments">
                    <li >
                        <p><b>Monto:</b> {{payment.monto|currency}}</p>
                        <p><b>Status:</b>
                            &nbsp;<span class="badge bg-success" *ngIf="payment.status === 'APPROVED'">Aprobado</span>
                            &nbsp;<span class="badge bg-primary" *ngIf="payment.status === 'PENDING'">Pendiente</span>
                            &nbsp;<span class="badge bg-danger" *ngIf="payment.status === 'REJECTED'">Rechazado</span>
                        </p>
        
                        <button class="btn btn-outline-success btn-sm" (click)="selectedPayment(payment)"><i
                                class="fa fa-eye"></i></button>
                    </li>
                </ul>
            </div>
            <div class="card-body"  *ngIf=" payments &&  paymentSelected">
                <span class="d-flex justify-content-end">
                    <button class="btn btn-outline-success btn-sm" (click)="back()">Cerrar</button>
                </span>
                <p><b>Monto:</b> {{paymentSelected.monto|currency}}</p>
                <p><b>Status:</b>
                    &nbsp;<span class="badge bg-success" *ngIf="paymentSelected.status === 'APPROVED'">Aprobado</span>
                    &nbsp;<span class="badge bg-primary" *ngIf="paymentSelected.status === 'PENDING'">Pendiente</span>
                    &nbsp;<span class="badge bg-danger" *ngIf="paymentSelected.status === 'REJECTED'">Rechazado</span>
                </p>
                <p><b>Fecha del pago:</b> <br>
                    {{paymentSelected.fecha |date:'MMM d, y'}}
                </p>
    
                <p><b>Referencia:</b> {{paymentSelected.referencia}}</p>
                <p><b>Email:</b> {{paymentSelected.email}}</p>
                <p><b>Bank_name:</b> {{paymentSelected.bank_name}}</p>
                <p><b>Metodo:</b> {{paymentSelected.metodo}}</p>
    
                <p><b>Pagado:</b> {{paymentSelected.created_at|date:'MMM d, y'}}</p>
            </div>
        </div>
    </div>
    



</div>