p{
    padding: 0;
    margin: 0;
}

.pago{
    display: flex;
    flex-flow: nowrap;
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 5px;
    justify-content: space-around;
}

.pago{
    display: flex;
    justify-content: space-between;
}
.pago ul{
    margin: 0;
    padding: 0;
}
.pago ul li{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}