<section class="section dashboard" style=" padding-top: 30px; padding-bottom: 50px;">
    <div class="container">
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                      Como Solicitar una cita?</button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <ol>
                            <li>En el menu horizontal se muestran las especialidades disponible, seleccione la deseada.</li>
                            <li>En el formulario mostrado indica la especialidad junto con el precio a pagar de la misma</li>
                            <li>Seleccione la fecha que usted tenga disponible para verificar su cita</li>
                            <li>Seleccione la hora que usted tenga disponible para verificar su cita.</li>
                            <li>Al pulsar el boton filtra se mostaran la lista de doctores disponibles para esa fecha y hora.</li>
                            <li>Al pulsar el boton de + se mostraran los segmentos de las horas disponibles en un lapso de 15 minutos.</li>
                            <li>ingrese el número de identificación para filtrar la cita, se mostraran los datos del paciente registrado anteriormente en la clínica o consultorio.</li>
                            <li>Puede ingresar otra persona siempre y cuando este registrada en esa clínica o consultorio.</li>
                            <li>Puede ingresar el nombre de la persona con quien va el acompañante.</li>
                            <li>Al pulsar guardar se mostrará un aviso indicando que su solicitud esta a la espera de ser aprobada.</li>
                            <li>El personal autorizado recibe la notificación de su solicitud, procede a confirmar con el doctor.</li>
                            <li>Una vez verificado, le llegará un correo electrónico indicando que su cita ha sido verficada y si desea puede abonar desde esta aplicación .</li>
                            
                        </ol>
                        
                    </div>
                </div>
            </div>
            
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Como Acceder a la cita pendiente?
        </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <ol>
                            <li>En el menu final horizontal se muestran los iconos de navegación, en el boton de listado podra acceder a todas las citas.</li>
                            <li>Dentro de la sección listado, hay tres pestañas Pendientes, Atendidas y todas</li>
                            <li>En cada lista esta identificado la informacion de la cita, doctor, especialidad, fecha, hora</li>
                            <li>En ese mismo grupo de informacion viene el estado de la cita y del pago.</li>
                            <li>Por que dice deuda? Esto es porque es una cita hecha desde la app y esta recien verficada, al lado aparece un boton de pagar.</li>
                            <li>En el boton de Pagar, puede pagar completa la cita o hacer un abono.</li>
                            <li>Si desea pagar en efectivo, con gusto el personal le atenderá su caso.</li>
                            
                            
                        </ol>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Como pagar?</button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <ol>
                            <li>Lea las intrucciones.</li>
                            <li>Realice una trasferencia desde la aplicación de su preferecia, este le generará un número de referencia.</li>
                            <li>Ingrese la informacion de su metodo de pago y proceda a llenar el formulario.</li>
                            <li>Llene los datos solicitados, al terminar pulse el boton de Registrar Pago, el formulario le notificará cualquier estado.</li>
                            <li>El pago sera revisado por nuestro personal calificado.</li>
                            <li>Espere la notificación de el estado de su pago.</li>
                            
                        </ol>
                    </div>
                </div>
            </div>
            
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFour">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        Tipos de Pago</button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        En nuestro sistema permite varios tipos de pago:
                        <ul>
                            <li>Transferencias Bancarias Nacional</li>
                            <li>Trasferencias Bancarias Internacional</li>
                            <li>Zelle</li>
                            <li>Paypal</li>
                            <li>Pago móvil</li>
                        </ul>
                    </div>
                </div>
            </div>
            
            
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFive">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    Ayuda Adicional?
                </button>
                </h2>
                <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Si no encontró solución a su problema o inquietud puede comunicarse con la clínica o consultorio, con gusto le atenderemos.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>