<div *ngIf="!usuario">
    <h4 class="notiene">Bienvenido, Aun no posee citas médicas con esta Clínica.</h4>
    <p class="text-center">si desea, solicite una de nuestra categoría disponible</p>
</div>
<div *ngIf="usuario && num_appointment === 0">
    <h4 class="notiene">Bienvenido, Aun no registro médico con esta Clínica.</h4>
    <p class="text-center">si desea, solicite una de nuestra categoría disponible</p>
</div>
<!-- <div class="row animated fadeIn fast" *ngIf="cargando">
    <div class="col-12">
        <div class="alert alert-info text-center">
            <div class="alert-heading">Cargando</div>
            <i class="fa fa-spin fa-refresh fa-1x"></i>
            <p class="mb-0">Por favor espere</p>
        </div>
    </div>
</div> -->
<section class="grid_home"  *ngIf="usuario && num_appointment > 0">
    
    <div class="container">
        <div class="parent">

            <div class="div-restaurant " (click)="openOrange()"  >
                <div >
                    <h5>Cita Pendiente.</h5>
                    <img src="./assets/images/medical/morning-img-01.png" alt="">
                    <ng-container *ngFor="let item of appointment_pendings | slice:0:1; ">
                        <div class="datoscita">
                            <h3>Dr. {{item.doctor.full_name}}</h3>
                            <p><b style="color: var(--blanco);">{{item.speciality.name}}</b></p>
                            <p>{{item.date_appointment_format}}</p>
                            <p>{{item.segment_hour.format_segment.hour_start}} - {{item.segment_hour.format_segment.hour_end}}</p>
                            <div class="addic oculto-cita">
                                <p><b>Teléfono:</b> {{settting.phone}}</p>
                            <p><b>Sede Clínica:</b> <br>
                                {{settting.address}}
                                {{settting.city}}
                            </p>
                            
                            </div>
                        </div>

                    </ng-container>
                </div>
            </div>
            <!-- (click)="openGreen()" -->
            <div class="div-mercados  " >
                
                <div class="perfil-home">
                    <!-- <div class="fotoPerfil">
                        <img [src]="usuario?.avatar" alt="">
                    </div> -->
                    <div class="datospaciente">
                        <h5>Hola!,</h5>
                        <h3 style="font-size: 16px;">{{usuario?.full_name}}</h3>
                        <p><b>Id</b> {{usuario?.n_doc}}</p>
                        <p><b>Teléfono:</b> {{usuario?.phone}}</p>
                        <div class="oculto">
                        <!-- <p><b>Responsable:</b> <br>
                            {{usuario?.person.name_responsable}}
                        </p> -->
                        <p><b>Atnt. Alergico:</b> <br>
                            {{usuario?.antecedent_alerg}}
                        </p>
                        <p><b>Atnt. Personal:</b> <br>
                            {{usuario?.antecedent_personal}}
                        </p>
                        <p><b>Atnt. Familiar:</b> <br>
                            {{usuario?.antecedent_family}}
                        </p>
                        
                        </div>
                    </div>
                </div>
            </div>

            <div class="div-farmacia " (click)="openBlue()">
                <div >
                    <h5>Medicinas.</h5>
                    <div *ngIf="!appointment_attention">
                        <h4 class="datosmedicinas-oculto">No posee citas atendidas</h4>
                    </div>

                    <img src="./assets/images/food/medical.png" alt="">
                    <div *ngIf="appointment_attention">
                        <div class="datosmedicinas-oculto">
                            <h3>Dr.{{appointment?.doctor.full_name}}</h3>
                                <p>{{appointment?.speciality.name}}</p>
                                <p><b style="color:#fff">Fecha de Atención:</b> {{appointment?.date_appointment_format}}</p>
                                <p><b style="color:#fff">Status: </b>
                                    <span *ngIf="appointment?.status === 1"> Pendiente</span>
                                    <span *ngIf="appointment?.status === 2"> Atendida</span>
                                    
                                </p>
                                <br>
                                <p><b style="color:#fff">Receta Médica:</b></p>
                                <ul *ngFor="let item of recetas">
                                    <li>{{item.name_medical}}<br>{{item.uso}}</li>
                                </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="div-bebida " (click)="openYellow()">
                <div >
                    <h5>Recipe Médico.</h5>
                    <div *ngIf="!appointment_attention">
                        <h4 class="oculto-datosrecipe">No posee citas atendidas</h4>
                    </div>
                    <div *ngIf="appointment_attention">
                        <div class="datosrecipe">
                            <div class="oculto-datosrecipe">
                                <h3>Dr.{{appointment?.doctor.full_name}}</h3>
                                <p>{{appointment?.speciality.name}}</p>
                                <p><b style="color:#fff">Fecha de Atención:</b> {{appointment?.date_appointment_format}}</p>
                                <p><b style="color:#fff">Status: </b>
                                    <span *ngIf="appointment?.status === 1"> Pendiente</span>
                                    <span *ngIf="appointment?.status === 2"> Atendida</span>
                                    
                                </p>
                                <br>
                                <p><b style="color:#fff">Detalle de la cita:</b></p>
                                <p>{{appointment_attention.description}}</p>
                                
                            </div>
                        </div>
                    </div>
                    
                    <img src="./assets/images/medical/morning-img-02.png" alt="">

                    
                </div>
            </div>

        </div>
    </div>
</section>