<app-skeleton-loader *ngIf="cargando" [rows]="10" [columns]="1"></app-skeleton-loader>

<div class="col-12" *ngIf="!cargando">
    <!-- grid_home -->
    <app-grid-home [patient]="patient"  [patient_selected]="patient_selected" 
    [usuario]="usuario"></app-grid-home>
    <!-- grid_home -->
    <!-- otrosCategorias -->
    <app-categorias></app-categorias>
    <!-- otrosCategorias -->
    <br>
    <!-- publicidad -->
    <app-publicidad></app-publicidad>
    
    <!-- publicidad -->
    <br>
    <!-- Todas las citas -->
    <app-citas [patient]="patient"  [patient_selected]="patient_selected" 
    [usuario]="usuario" ></app-citas>
    
    <!-- Todas las citas -->
    <br>
    <!-- signos vitales -->
    <app-signosvitales [patient]="patient"  [patient_selected]="patient_selected" 
    [usuario]="usuario"></app-signosvitales>
    <!-- signos vitales -->
    
</div>
<app-pwa-notif-installer></app-pwa-notif-installer>
