
<div class="col-12" *ngIf="!cargando">
    <!-- grid_home -->
    <app-grid-home [patient]="patient"  [patient_selected]="patient_selected" 
    [usuario]="usuario"></app-grid-home>
    <!-- grid_home -->
    <!-- Todas las citas -->
    <app-citas [patient]="patient"  [patient_selected]="patient_selected" 
    [usuario]="usuario" ></app-citas>
    <!-- otrosCategorias -->
   <app-categorias (alSeleccionarEspecialidad)="recibirEspecialidadDelHijo($event)" class="d-block mb-4"></app-categorias>

    <!-- otrosCategorias -->
    <br>
    <!-- publicidad -->
    <app-publicidad></app-publicidad>
    
    <!-- publicidad -->
    <br>
    
</div>
<app-pwa-notif-installer></app-pwa-notif-installer>
<app-agendar-cita #citaOffcanvas></app-agendar-cita>
