<div class="row animated fadeIn fast" *ngIf="cargando">
    <div class="col-12">
        <div class="alert alert-info text-center">
            <div class="alert-heading">Cargando</div>
            <i class="fa fa-spin fa-refresh fa-1x"></i>
            <p class="mb-0">Por favor espere</p>
        </div>
    </div>
</div>

<div *ngIf="!cargando">
    <!-- <div >
    <h2 class="notiene">Su Cita aún no ha sido atendida.</h2>
</div> -->
    <section class="container animated fadeInUp " style=" padding-top: 30px; padding-bottom: 50px;">

        <div class="card" style="margin-top: -10px;" *ngIf="laboratory == 2">
            <p class="monto">
                <b>Archivos de Laboratorio</b> <br>
            </p>
            <ng-container *ngFor="let FILE of FilesAdded">
                <div class="filesAdded">
                    <!--begin::Wrapper-->
                    <div class="files">
                        <a href="javascript:void(0);" (click)="selectDoc(FILE)" data-bs-toggle="modal"
                            [attr.data-bs-target]="'#view-doc-'+FILE.id">
                            <img src="assets/svg/doc.svg" class="w-50px ms-n1 me-1 filesvg" alt="">
                        </a>
                        <div class="infofile">
                            <a href="javascript:void(0);" (click)="selectDoc(FILE)" data-bs-toggle="modal"
                                [attr.data-bs-target]="'#view-doc-'+FILE.id">
                                {{FILE.name_file}}</a>
                            <br>
                            <span class="text-gray-400 fw-bolder sizeee">Size:
                                <a href="#" onclick="return false;"
                                    class="text-gray-800 text-hover-primary fw-bolder">{{FILE.size}} Kb.</a></span>
                        </div>
                    </div>
                    <!--end::Wrapper-->
                </div>
                <!--end::Info-->
                <!-- modal -->

                <div [attr.id]="'view-doc-'+FILE.id" class="modal  add-modal" role="dialog">
                    <div class="modal-dialog modal-dialog-centered modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">{{FILE.name_file}}</h5>
                                <a href="javascript:void(0);" (click)="closeReload()" class="btn btn-white me-1"
                                    data-bs-dismiss="modal">Close</a>
                            </div>
                            <div class="modal-body text-center">
                                <embed [src]="getDocumentIframe(FILE.file)" class="pdf-content" />
                                <!-- <div class="m-t-20"> 
                                                                        <a href="javascript:void(0);" (click)="closeReload()" class="btn btn-white me-1" data-bs-dismiss="modal">Close</a>
                                                                    </div> -->
                            </div>
                        </div>
                    </div>
                </div>

                <!-- modal -->
            </ng-container>

        </div>
        <div class="perfil">


            <div class="local_categoria_item" style="height: 220px;">
                <div class="logo_local">
                    <img [src]="avatar_doctor" alt="">
                </div>
                <div class="contenido" style="height: 130px;">
                    <div class="info_local">
                        <h3>Dr.{{doctor.full_name}}</h3>
                        <div class="infcita">
                            <p class="esp">{{speciality.name}}</p>
                            <p class="fech">
                                <span *ngIf="status_pay === 1"> Pago: Pagado</span>
                                <span *ngIf="status_pay === 2"> Pago: Deuda</span>
                            </p>
                            <p class="monto">
                                <b>Comienz:</b> <br>
                                {{appointment_selected.segment_hour.format_segment.hour_start}}

                            </p>
                            <p class="pagado">
                                <b>Finaliza:</b> <br>
                                {{appointment_selected.segment_hour.format_segment.hour_end}}

                            </p>

                        </div>
                    </div>
                    <div class="calificacion">
                        <span *ngIf="appointment_selected.status === 1"> <i
                                class="fa fa-info-circle"></i>&nbsp;Pendiente</span>
                        <span *ngIf="appointment_selected.status === 2"> <i
                                class="fa fa-info-circle"></i>&nbsp;Atendida</span>

                    </div>
                </div>

            </div>

            <div class="card" style="margin-top: -10px;">
                <p class="monto">
                    <b>Fecha de la Cita:</b> <br>
                    {{appointment_selected.date_appointment_format}}
                </p>
                <p class="pagado">
                    <b>Acompañante:</b> <br>
                    {{appointment_selected.patient.name_companion}} {{appointment_selected.patient.surname_companion}}
                </p>
                <p class="monto">
                    <b>Descripción Receta:</b> <br>
                    {{description}}
                </p>
                <p class="tiemp">
                    <b>Recipe:</b> <br>
                    <ng-container *ngFor="let item of recetas">
                        <ul>
                            <li>
                                {{item.name_medical}}<br>
                                {{item.uso}}
                            </li>
                        </ul>
                    </ng-container>

                </p>

            </div>
            

        </div>

    </section>

</div>