<div class="row animated fadeIn fast" *ngIf="cargando">
    <div class="col-12">
        <div class="alert alert-info text-center">
            <div class="alert-heading">Cargando</div>
            <i class="fa fa-spin fa-refresh fa-1x"></i>
            <p class="mb-0">Por favor espere</p>
        </div>
    </div>
</div>

<div *ngIf="!cargando">
    <!-- <div >
    <h2 class="notiene">Su Cita aún no ha sido atendida.</h2>
</div> -->
    <section class="container animated fadeInUp " style=" padding-top: 30px; padding-bottom: 50px;">

        
        <div class="perfil">


            <div class="local_categoria_item" style="height: 240px;">
                <div class="logo_local">
                    <img [src]="avatar_doctor" alt="">
                </div>
                <div class="contenido" style="height: auto;
                transform: translateY(32px);">
                    <div class="info_local">
                        <h3>Dr.{{doctor.full_name}}</h3>
                        <p>Consultorio:{{doctor.address}}</p>
                        <div class="infcita">
                            <p class="esp">{{speciality.name}}</p>
                            <p class="fech">
                                <span *ngIf="status_pay === 1"> Pago: Pagado</span>
                                <span *ngIf="status_pay === 2"> Pago: Deuda</span>
                            </p>
                            <p class="monto">
                                <b>Comienz:</b> <br>
                                {{appointment_selected.segment_hour.format_segment.hour_start}}

                            </p>
                            <p class="pagado">
                                <b>Finaliza:</b> <br>
                                {{appointment_selected.segment_hour.format_segment.hour_end}}

                            </p>

                        </div>
                    </div>
                    <div class="calificacion">
                        <span *ngIf="appointment_selected.status === 1"> <i
                                class="fa fa-info-circle"></i>&nbsp;Pendiente</span>
                        <span *ngIf="appointment_selected.status === 2"> <i
                                class="fa fa-info-circle"></i>&nbsp;Atendida</span>

                    </div>
                </div>

            </div>

            <div class="card" style="margin-top: 50px;">
                <p class="monto">
                    <b>Fecha de la Cita:</b> <br>
                    {{appointment_selected.date_appointment_format}}
                </p>
                <p class="pagado">
                    <b>Acompañante:</b> <br>
                    {{appointment_selected.patient.name_companion}} {{appointment_selected.patient.surname_companion}}
                </p>
                <p class="monto">
                    <b>Descripción Receta:</b> <br>
                    {{description}}
                </p>
                <p class="tiemp">
                    <b>Recipe:</b> <br>
                    <ng-container *ngFor="let item of recetas">
                        <ul>
                            <li>
                                {{item.name_medical}}<br>
                                {{item.uso}}
                            </li>
                        </ul>
                    </ng-container>

                </p>

            </div>
            

        </div>

    </section>

</div>