<div class="row presupuestodetalle">
    <div class="col-md-12">
        <p><b>Doctor:</b> {{presupuesto?.doctor?.full_name}}</p>
        <p><b>Especialidad:</b> {{presupuesto?.speciality?.name}}</p>
        <p><b>Fecha:</b> {{presupuesto?.date_presupuesto_format|date}}</p>
        <p><b>Descripción:</b> {{presupuesto?.description}}</p>
        <p><b>Diagnóstico</b>
            :{{presupuesto?.diagnostico
        }}</p>
    </div>
</div>
<hr>
<h5>Detalles:</h5>
<ul *ngFor="let pres of medical">
    <li >
        Item: {{pres.name_medical}}<br>
        Cantidad: {{pres.cantidad}}<br>
        Precio: {{pres.precio | currency}}<br>
        Subtotal: {{(pres.precio)* (pres.cantidad) | currency}}
    </li>
    <hr>
</ul>
<div class="row">
    <div class="col-md-12 d-flex justify-content-end">
        <h4>Total: {{presupuesto?.amount|currency}}</h4>
    </div>
</div>