<div class="row presupuestodetalle">
    <div class="col-md-12">
        <p>Doctor: {{presupuesto.doctor.full_name}}</p>
        <p>Especialidad: {{presupuesto.speciality.name}}</p>
        <p>Fecha: {{presupuesto.date_presupuesto_format}}</p>
        <p>Descripción: {{presupuesto.description}}</p>
        <p>Diagnóstico
            :{{presupuesto.diagnostico
        }}</p>
    </div>
</div>
<hr>
<h5>Detalles:</h5>
<ul *ngFor="let pres of medical">
    <li >
        Item: {{pres.name_medical}}<br>
        Cantidad: {{pres.cantidad}}<br>
        Precio: {{pres.precio | currency}}<br>
        Subtotal: {{(pres.precio)* (pres.cantidad) | currency}}
    </li>
    <hr>
</ul>
<div class="row">
    <div class="col-md-12 d-flex justify-content-end">
        <h4>{{presupuesto.amount|currency}}</h4>
    </div>
</div>