<!-- <div class="row animated fadeIn fast" *ngIf="cargando">
    <div class="col-12">
        <div class="alert alert-info text-center">
            <div class="alert-heading">Cargando</div>
            <i class="fa fa-spin fa-refresh fa-1x"></i>
            <p class="mb-0">Por favor espere</p>
        </div>
    </div>
</div> -->
<div >
    <div class="container animated fadeInUp" *ngIf="usuario.temperature">
        <h4>Signos Vitales</h4>
        <div class="card">
            <div class="heading-detail">
                <p style="margin: 0; padding: 0; padding-bottom: 10px;">Ultima Actualización : {{usuario?.updated_at|date}}</p>
            </div>
            <div class="skill-blk">
                <div class="skill-statistics">
                    <div class="skills-head">
                        <h5>Presión Arterial (mm/hg)</h5>
                        <p>{{usuario?.ta}}</p>
                    </div>
                    <div class="progress mb-0"  >
                        <div class="progress-bar bg-operations" role="progressbar" [style.width]="usuario?.ta+''+'%'"  [attr.aria-valuenow]="usuario?.ta" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="skill-statistics">
                    <div class="skills-head">
                        <h5>Temperatura (•C)</h5>
                        <p>{{usuario?.temperature}}</p>
                    </div>
                    <div class="progress mb-0"  >
                        <div class="progress-bar bg-haemoglobin" role="progressbar" [style.width]="usuario?.temperature+''+'%'"  [attr.aria-valuenow]="usuario?.temperature" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="skill-statistics">
                    <div class="skills-head">
                        <h5>Frecuencia Cardiaca (por minuto)</h5>
                        <p>{{usuario?.fc}}</p>
                    </div>
                    <div class="progress mb-0"  >
                        <div class="progress-bar bg-statistics" role="progressbar" [style.width]="usuario?.fc+''+'%'"  [attr.aria-valuenow]="usuario?.fc" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="skill-statistics">
                    <div class="skills-head">
                        <h5>Frecuencia Respiratoria (por minuto) </h5>
                        <p>{{usuario?.fr}}</p>
                    </div>
                    <div class="progress mb-0"  >
                        <div class="progress-bar bg-visit" role="progressbar" [style.width]="usuario?.fr+''+'%'"  [attr.aria-valuenow]="usuario?.fr" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="skill-statistics">
                    <div class="skills-head">
                        <h5>Peso (Kg) </h5>
                        <p>{{usuario?.peso}}</p>
                    </div>
                    <div class="progress mb-0"  >
                        <div class="progress-bar bg-visit" role="progressbar" [style.width]="usuario?.peso+''+'%'"  [attr.aria-valuenow]="usuario?.peso" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
        </div>
    
    </div>
</div>