
<!---menu movil footer-->
<div class="foot">
    <div class="navbarM ">
        <a routerLink="/app/home" routerLinkActive="active">
            <img src="./assets/svg/hogar.svg" alt="">
            <p>Home</p>
        </a>
        <a routerLink="/app/lista" routerLinkActive="active" class="modal-footer-staff">
            <img src="./assets/svg/prismaticos.svg" alt="">
            <p>Lista </p>
        </a>
        <a routerLink="/app/mis-pagos" routerLinkActive="active" class="modal-footer-topics">
            <img src="./assets/svg/pagos.svg" alt="">
            <p>Pagos</p>
        </a>
        <a routerLink="/app/perfil" routerLinkActive="active" class="modal-footer-follow">
            <img src="./assets/svg/agregar-usuario.svg" alt="">
            <p>Yo</p>
        </a>
    
    </div>
</div>
